html 
   head 
     title Mutyam Babu Garu 
     link(rel="stylesheet", href="./bootstrap.min.css") 
  
   body 
       
     include includes/header.pug
    
     img(src="./Images01.png", alt="" , width='200px', height='150px')
     img(src='./Images03.jpg', width='200px', height='150px')
     img(src='./Phone.jpg', width='200px', height='150px')
     h1 Welcome to template Engine Pug...mutyam garu

     img(src='./cheethah.jpg', width='200px', height='150px')
     h2= students 
     
     ul 
        each std in students 
              li= std
     
     ul 
        each review,id in reviews 
                li
                    div= review.fullname
                    img(src=review.image,class=['rounded-3', 'w-25','h-25'])
                    p= review.review
                    button(class=['btn', 'btn-danger']) 
                     a(href=`/deleteReview/${id}`) Delete 
                     






